[Unit]
Description=Automounter for removable media

[Service]
ExecStart=udiskie -s -c "$HOME/.config/udiskie/config.yml"
Type=simple

[Install]
WantedBy=graphical-session.target
