!tags/
!tmp/cache/.keep
*.pyc
*.sw[nop]
.DS_Store
.bundle
.byebug_history
.claude/settings.local.json
.config/wt.toml
.env
.ignore
.lazy.lua
.mcp.json
.notes
.projections.json
.solargraph.yml
.tool-versions
.vscode/
codecompanion-workspace.json
db/*.sqlite3
log/*.log
mise.toml
node_modules
rails.rb
rerun.txt
tags
tmp/**/*
vim/view
